@media screen and (max-width: 650px){
    #slide {
        height: 400px;
        /*background-color: #fff;*/
        background-image: url(../img/sl1-sm.png);

    }
    
    .joinReg {
        height: 400px;
        text-align:center;
        display:table;
        width:100%;
    }
}